### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# iPython
profile_default/
ipython_config.py

# Notebooks
pydelfi/mades.py
reloaded_cosmic_shear_prerun_sims.ipynb
gamma_made.ipynb
plotting.ipynb
bodelfi.ipynb
cosmic_shear-IMNN (3D).ipynb
cosmic_shear_darkenergy.ipynb
cosmic_shear_darkenergy_nuisances.ipynb
cosmic_shear_darkenergy_marginalized.ipynb
cosmic_shear_map (iPyParallel).ipynb
cosmic_shear_map (IMNN).ipynb
cosmic_shear_map.ipynb
jla_sne-IMNN.ipynb
tsz_pdf_prerun_sims.ipynb
cosmic_shear-IMNN.ipynb
cosmic_shear_nuisances.ipynb
cosmic_shear_marginalized.ipynb
cosmic_shear_preran_sims-IMNN.ipynb
lotka-volterra.ipynb
shear_map_mpi.py
IMNN.ipynb
snl_cmb_lens_tom_class.ipynb
snl_cmb_lens_tom_class_mpi.py
.ipynb_checkpoints*
.DS_Store
simulators/cmb_lens_tom
simulators/cosmic_shear_map
simulators/lotka_volterra
simulators/tsz_pdf
simulators/gaussian
examples/simulators/cosmic_shear/results/*
!examples/simulators/cosmic_shear/results/README.md
examples/simulators/cosmic_shear/results_prerun/*
!examples/simulators/cosmic_shear/results_prerun/README.md
examples/simulators/jla_supernovae/results/*
!examples/simulators/jla_supernovae/results/README.md
examples/simulators/jla_supernovae/results_marginal/*
!examples/simulators/jla_supernovae/results_marginal/README.md
examples/simulators/cosmic_shear/results_d*
examples/simulators/cosmic_shear/results_nuisances
examples/simulators/cosmic_shear/results_marginal
examples/simulators/cosmic_shear/mcmc
examples/simulators/jla_supernovae/results_nofisher/*
